<section>
  <q-toolbar color="white" dark>
    <q-toolbar-title>
    </q-toolbar-title>
    <q-btn class="q-ml-sm" v-if="!edition" @click="editer()" color="warning" round dense icon="edit" />
    <q-btn class="q-ml-sm" v-if="edition" @click="enregistrement()" color="green" round dense icon="check" />
    <q-btn class="q-ml-sm" v-if="edition" color="red" @click="close()" round dense icon="delete" />
  </q-toolbar>
  <div class="column">
    <div class="col-6">
      <q-input v-model="etablissement" float-label="Etablissement:" rows="7" />
    </div>
    <div class="col-6">
      <q-select v-model="niveau" :options="niveaux"></q-select>
    </div>
    <div class="col-6">
      <q-select v-model="concours1" :options="concours"></q-select>
    </div>
  </div>
</section>
