<section>
  <div class="column">
    <div class="col-6">
      <q-input v-model="prenom" disable float-label="Etablissement:" rows="7" />
    </div>
    <div class="col-6">
      <q-input v-model="numero" disable float-label="Niveau:" rows="7" />
    </div>
    <div class="col-6">
      <q-input v-model="code" float-label="Concours 1:" rows="7" />
    </div>
    <div class="col-6">
      <q-input v-model="numero" disable float-label="Concours 2:" rows="7" />
    </div>
    <div class="col-6">
      <q-input float-label="Concours 3:" disable v-model="nom" rows="7" />
    </div>
  </div>
</section>
