<section>
  <q-card style="width:100%;float: right;min-height: 300px;">
    <q-card-title>Infomation sur le groupe</q-card-title>
    <q-card-main>
      <div class="fb-video" data-href="https://www.facebook.com/604589883349949/videos/526407697893038/"
        data-width="500" data-show-text="false">
        <blockquote cite="https://developers.facebook.com/604589883349949/videos/526407697893038/"
          class="fb-xfbml-parse-ignore"><a
            href="https://developers.facebook.com/604589883349949/videos/526407697893038/"></a>
          <p>cours de ceci</p>Publiée par <a
            href="https://www.facebook.com/Homeschool-test-604589883349949/">Homeschool-test</a> sur Vendredi 26 avril
          2019
        </blockquote>
      </div>
    </q-card-main>
  </q-card>
</section>
