<section>
  <q-modal v-model="maximizedModalChapitres" maximized>
    <q-layout view="lHh Lpr lFf">
      <q-layout-header>
        <q-toolbar :inverted="$q.theme === 'ios'">
          <q-btn flat round dense icon="fas fa-arrow-alt-circle-left" @click="close()" />
          <q-toolbar-title>
            Titre du cours
          </q-toolbar-title>
        </q-toolbar>
      </q-layout-header>
      <q-page-container>
        <q-list link>
          <q-list-header>Liste de chapitre</q-list-header>
          <q-item link tag="label" v-for="(chapitre, index) in chapitres" :key="index">
            <q-item-side hidden>
              <q-btn @click="voirChapitre(chapitre.id, chapitre.titre)">aller</q-btn>
            </q-item-side>
            <q-item-side>
              #{{index + 1}}
            </q-item-side>
            <q-item-main>
              <q-item-tile label>{{chapitre.titre}}</q-item-tile>
            </q-item-main>
          </q-item>
        </q-list>
        <div v-if="maximizedModalChapitre">
          <chapitre :nomChapitre.sync="nomChapitre" :maximizedModalChapitre.sync="maximizedModalChapitre"></chapitre>
        </div>
      </q-page-container>
    </q-layout>
  </q-modal>
</section>
