<div>
  <q-card>
    <q-card>
      <q-card-media>

      </q-card-media>
      <q-card-separator />
      <q-card-main>
        <div class="row">
          <div class="col-6">
            Nom: {{enseignant.nom}}
          </div>
          <div class="col-6">
            Prénom: {{enseignant.prenom}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            Sexe: {{enseignant.sexe}}
          </div>
          <div class="col-6">
            Ville: {{enseignant.ville}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            Quartier: {{enseignant.quartier}}
          </div>
          <div class="col-6">
            Situation: {{enseignant.situation}}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            Spécialité: {{enseignant.specialite}}
          </div>
          <div class="col-6">
          </div>
        </div>
      </q-card-main>
      <q-card-separator />
      <q-card-actions>
        <q-btn flat round icon="event" />
        <q-btn flat color="primary">Voir</q-btn>
        <q-btn flat>Supprimer</q-btn>
      </q-card-actions>
    </q-card>
  </q-card>
</div>
