<div>
  <q-modal v-model="modalQuestion">
    <q-toolbar color="primary">
      <q-toolbar-title>
        Créer une nouvelle question
        <div slot="subtitle">Formulaire de création d'une nouvelle question </div>
      </q-toolbar-title>
      <q-btn color="green" @click.native="creerQuestion()" style="margin-right: 10px">enregistrer</q-btn>
      <q-btn color="red" @click.native="fermer()">fermer</q-btn>
    </q-toolbar>
    <q-stepper ref="stepper" v-model="step" color="primary">
      <q-step default name="general" title="General" subtitle="Configuration générale de la question">
        <div class="row">
          <div class="col-12">
            <q-select v-model="chapitre" :options="chapitres" @input="chapitreChange" />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <q-select v-model="section" :options="sections" />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <q-select v-model="type" :options="types" />
          </div>
        </div>
        <q-stepper-navigation v-if="!globalNavigation">
          <q-btn class="q-ml-sm" color="green" @click="$refs.stepper.next()">Valider</q-btn>
        </q-stepper-navigation>
      </q-step>

      <q-step name="enonce" :error="stepError" title="Enonce de la question" subtitle="Obligatoire">
        <div class="row">
          <div class="col-12">
            <quill-editor v-model="enonce" style="padding: 15px" :options="editorOption">
            </quill-editor>
          </div>
        </div>

        <q-stepper-navigation v-if="!globalNavigation">
          <q-btn color="green" @click="$refs.stepper.next()">Continuer</q-btn>
          <q-btn class="q-ml-sm" color="primary" flat @click="$refs.stepper.previous()">Précédent</q-btn>
        </q-stepper-navigation>
      </q-step>

      <q-step name="propositions" :disable="disabledStep" title="Proposition" subtitle="Obligatoire">
        <propositionqcm :addQuestion.sync="addQuestion" v-if="type == 'qcm'"></propositionqcm>
        <propositionrelationelle :addQuestion.sync="addQuestion" v-if="type == 'qcr'"></propositionrelationelle>
        <propositionschema :addQuestion.sync="addQuestion" v-if="type == 'schema'"></propositionschema>

        <q-stepper-navigation v-if="!globalNavigation">
          <q-btn color="green" @click="$refs.stepper.next()">Continuer</q-btn>
          <q-btn class="q-ml-sm" color="red" flat @click="$refs.stepper.previous()">précédent</q-btn>
        </q-stepper-navigation>
      </q-step>

      <q-step name="Explication de la solution" title="Explication" subtitle="Détail de la solution">
        <div class="row">
          <div class="col-12">
            <quill-editor v-model="explication" :options="editorOption">
            </quill-editor>
          </div>
        </div>

        <q-stepper-navigation v-if="!globalNavigation">
          <q-btn color="green" @click="$refs.stepper.next()">Continuer</q-btn>
          <q-btn class="q-ml-sm" color="red" flat @click="$refs.stepper.previous()">précédent</q-btn>
        </q-stepper-navigation>
      </q-step>

      <q-step name="fin" title="Fin" subtitle="Vue d'ensemble de la question">
        <div class="row">
          <div class="col-12">
            <quill-editor v-model="enonce" disabled style="padding: 10px" :options="editorOptionHideToolbar">
            </quill-editor>
          </div>
        </div>
        <propositionqcm :addQuestion.sync="addQuestion" v-if="type == 'qcm'"></propositionqcm>
        <propositionrelationelle :addQuestion.sync="addQuestion" v-if="type == 'qcr'"></propositionrelationelle>
        <propositionschema :addQuestion.sync="addQuestion" v-if="type == 'schema'"></propositionschema>
        <div class="row">
          <div class="col-12">
            <quill-editor v-model="explication" style="padding: 10px" disabled :options="editorOptionHideToolbar">
            </quill-editor>
          </div>
        </div>
        <q-stepper-navigation v-if="!globalNavigation">
          <q-btn color="primary" @click="$refs.stepper.goToStep('general')">Restart</q-btn>
          <q-btn class="q-ml-sm" color="primary" flat @click="$refs.stepper.previous()">Back</q-btn>
        </q-stepper-navigation>
      </q-step>

      <q-stepper-navigation v-if="globalNavigation">
        <q-btn v-if="step !== 'general'" color="primary" flat @click="$refs.stepper.previous()">
          Back
        </q-btn>

        <q-btn class="q-ml-sm" color="primary" @click="$refs.stepper.next()">
          {{ step === 'fin' ? 'Finalize' : 'Next' }}
        </q-btn>
      </q-stepper-navigation>

      <q-inner-loading :visible="progress" />
    </q-stepper>
  </q-modal>
</div>
