<div>
  <q-modal v-model="modalSection">
    <q-toolbar color="primary">
      <q-toolbar-title>
        Créer une nouvelle section
        <div slot="subtitle">Formulaire de création d'un nouveau chapitre pour le cours </div>
      </q-toolbar-title>
      <q-btn color="green" @click.native="enregistrer()" style="margin-right: 10px">enregistrer</q-btn>
      <q-btn color="red" @click.native="fermer()">fermer</q-btn>
    </q-toolbar>
    <div style="padding: 15px" ref="first">
      <div class="row">
        <div class="col-8" style="padding: 15px">
          <q-input v-model.lazy="intitule" float-label="Intitule" />
        </div>
        <div class="col-4" style="padding: 15px">
          <q-input v-model.lazy="numero" float-label="Numéro" type="number" />
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="padding: 15px">
          <quill-editor v-model="content" ref="myQuillEditor"style="height:200px;padding: 15px" :options="editorOption">
          </quill-editor>
        </div>
      </div>
    </div>
  </q-modal>
</div>
