<section>
  <q-toolbar color="white" dark>
    <q-toolbar-title>
    </q-toolbar-title>
    <q-btn class="q-ml-sm" v-if="!edition" @click="editer()" color="warning" round dense icon="edit" />
    <q-btn class="q-ml-sm" v-if="edition" @click="enregistrement()" color="green" round dense icon="check" />
    <q-btn class="q-ml-sm" v-if="edition" color="red" @click="close()" round dense icon="delete" />
  </q-toolbar>
  <div class="column">
    <div class="col-6">
      <q-input float-label="Nom:" :disable="!edition" v-model="nom" rows="7" />
    </div>
    <div class="col-6">
      <q-input v-model="prenom" :disable="!edition" float-label="Prénom:" rows="7" />
    </div>
    <div class="col-6">
      <q-datetime format-model="string" :disable="!edition" format="YYYY-MM-DD" v-model="dateNaissance" type="date"
        default-view="year" float-label="Date de naissance" rows="7" />
    </div>
    <div class="col-6">
      <q-input v-model="lieuNaissance" :disable="!edition" float-label="Lieu de naissance:" rows="7" />
    </div>
    <div class="col-6">
      <q-input v-model="email" disable float-label="Email:" rows="7" />
    </div>
    <div class="col-6">
      <q-input v-model="numero" :disable="!edition" float-label="Numero:" rows="7" />
    </div>
  </div>
</section>
