<div class="q-pa-sm">
  <q-card>
    <q-card>
      <q-toolbar dark color="primary">
        <q-toolbar-title>
          # {{question.idQuestion}}
        </q-toolbar-title>
        <q-btn round color="green" icon="add" @click.native="ajouter(question)"></q-btn>
      </q-toolbar>
      <q-card-media v-if="question.type=='schema'">
        <img :src="question.image">
      </q-card-media>
      <q-card-separator />
      <q-card-main>
        <div>
          Enoncé
          <div v-html="question.enonce"></div>
        </div>
        <div v-if="question.type=='qcm'">
          Propositions
          <div v-for="(proposition, index) in question.propositions" :key="index" v-html="proposition.enonce">
          </div>
        </div>
        <div v-if="question.type=='schema'">
          Propositions
          <p v-for="(proposition, index) in question.propositions" :key="index">
            <q-chip dense square pointing="right" color="primary">{{proposition.numero}}</q-chip>
            <q-chip dense square pointing="left" color="primary">{{proposition.reponse}}</q-chip>
          </p>
        </div>
      </q-card-main>
    </q-card>
  </q-card>
</div>
